.projects {
  padding: 20px;
  background-color: #1A202C; /* Dark background */
  text-align: center;
  min-height: 100vh; /* Ensure the section fills the viewport */
  color: white; /* Optional: make text color white for better contrast */
  border-top: 4px solid #00bfff; /* Added top border */
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #ffffff; /* Ensure heading stands out */
  font-weight: bold;
}

.project-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto; /* Centers the grid */
  max-width: 1200px; /* Optional max-width for better control */
}

.project-card {
  position: relative;
  width: 100%;
  max-width: 350px;
  aspect-ratio: 16 / 9;
  height: 100%; /* Full height */
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: white;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.project-card img {
  width: 100%;
  height: 100%; /* Make image take full height */
  object-fit: cover; /* Ensure image covers entire area */
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Dim background on hover */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the text vertically */
  align-items: center; /* Center the text horizontally */
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
  padding: 10px; /* Add padding for better text spacing */
  box-sizing: border-box; /* Include padding in height/width calculations */
}

.project-info h3,
.project-info p {
  margin: 10px 0;
  text-align: center; /* Center text alignment */
  overflow: hidden; /* Prevents text overflow */
  text-overflow: ellipsis; /* Adds ellipsis for overflowed text */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limits the number of text lines to 3 */
  -webkit-box-orient: vertical;
}

.project-card:hover .project-info {
  opacity: 1;
}

.project-info h3 {
  font-size: 1.5rem; /* Adjust font size if needed */
}

.project-info p {
  font-size: 0.9rem; /* Adjust font size if needed */
}
